[Unit]

Description=NordVPN and Transmission starup scripts

After=default.target

[Service]

ExecStart=/home/sup/code/bash_configs/transmission/startup.sh

[Install]

WantedBy=default.target
