# This is Git's per-user configuration file.
[user]
	name = Bartek Dobrowolski-Nowakowski
	email = dobrowolski.nowakowski@gmail.com

# commented - no longer have krypton
#[gpg]
#	program = /usr/local/bin/krgpg
#[commit]
#	gpgSign = true
#[tag]
#	forceSignAnnotated = true
