# This is Git's per-user configuration file.
[user]
	name = Bartek Dobrowolski-Nowakowski
	email = bartek@bnowakowski.pl
[gpg]
	program = /usr/local/bin/krgpg
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
